@charset "UTF-8";

/*共通*/
body {
  background-color: rgb(255,251,242);
  color: rgba(90,70,32,1);
  font-family: 'Shippori Mincho',serif;
}

.gothic {
  font-family: '游ゴシック体',YuGothic,'游ゴシック','Yu Gothic',sans-serif
}

.en1 {
  font-family: Oswald,sans-serif
}

ul, h1, p {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}




/*header*/

header {
  width: 100%;
}
.header_inner {
  width: 100%;
}

.openbtn {
  position: fixed;
  top: 60px;
  left: 60px;
  z-index: 9999;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.openbtn span {
  display: inline-block;
  transition: all .2s;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(90,70,32,1);
}

.openbtn span:nth-of-type(1) {
  top:0px;
}
.openbtn span:nth-of-type(2) {
  top:10px;
}
.openbtn span:nth-of-type(3) {
  top:20px;
}

.cart_icon_w {
  display: none;
}

.header_cart {
  position: fixed;
  z-index: 9999;
  width: 30px;
  top: 105px;
  left: 60px;
}

.header_ttl {
  position: fixed;
  z-index: 9999;
  top: 60px;
  right: 60px;
  font-size: 19px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: rgba(90,70,32,1);
  writing-mode: vertical-rl;
}


.contents {
  position: relative;
  width: 100%;
  z-index: 100;
}

.contents_section_inner {
  padding: 60px 0px;
}

.contents_block {
  width: 100%;
}


/*firsview*/
#firstview {
  height: 800px;
  position: relative;
}

.firstview_copy {
  width: 210px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin: -23px 0px 0px -105px;
}

.firstview_copy h1 {
  font-size: 30px;
  font-weight:500;
  letter-spacing: 1.2px;
  line-height: 70px;
  writing-mode: vertical-rl;
}


/*slide時 width:250%;*/
.firstview_slide {
  width: 100%;
  position: absolute;
  top: 50%;
}

.slide_list {
  display: flex;
}
.slide_list li {
  width: 160px;
}

.firstview_scroll {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 60px;
  width: 90px;
  margin-left: -45px;
}

.firstview_scroll p span {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -3px;
}





/*about*/
#about {
  width: 100%;
  text-align: center;
}


.scroll {
  margin-bottom: 105px;
}
.scroll_line span{
  width: 1px;
  height: 45px;
  background-color: rgba(90,70,32,1);
  display: block;
  margin: 0 auto;
}



.about_ttl p {
  font-size: 30px;
  line-height: 60px;
  font-weight: 500;
  margin-bottom: 30px;
}

.about_txt p {
  font-size: 18px;
  line-height: 48px;
  font-weight: 100;
}



/*recommend*/
.recommend_ttl {
  text-align: center;
  font-size: 24px;
  line-height: 48px;
  font-weight: 400;
  margin-bottom: 50px;
}
.recommend_list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 100px;
}

.recommend_txt h3 {
  font-size: 22px;
  line-height: 48px;
  font-weight: 300;
}
.recommend_txt p {
  font-size: 18px;
  line-height: 42px;
  font-weight: 100;
  padding: 10px 0px;
}

.recommend_img img{
  max-width: 300px;
  margin-left: 80px;
}

.link_more {
  color: rgba(90,70,32,1);
  display: flex;
  align-items: center;
}
.link_more span {
  height: 1px;
  width: 45px;
  background-color: rgba(90,70,32,1);
  margin-left: 10px;
}
